/* No italic for Fira Code */

@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code Bold'), local('FiraCode-Bold'), url('../Fonts/FiraCode-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code Medium'), local('FiraCode-Medium'), url('../Fonts/FiraCode-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code Regular'), local('FiraCode-Regular'), url('../Fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code Light'), local('FiraCode-Light'), url('../Fonts/FiraCode-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

#Home {
  padding: 40px;
  font-family: Fira Code, Courier, sans-serif;
  font-weight: 400;
  font-size: 14pt;
  line-height: 1.2em;
  max-width: 1000px;
  color: #333;
  max-width: 700px;
}

#Home h1, #Home h2, #Home h3 {
  color: #111;
}

#Home p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#Home h1 {
  font-weight: 600;
  font-size: 32pt;
}

#Home h2, #Home h3 {
  padding-top: 20px;
  font-style: italic;
  font-weight: 500;
  font-size: 16pt;
}

#Home h3 {
  font-size: 12pt;
  padding-top: 6pt;
  text-decoration: none;
  font-weight: bold;
}

#Home a {
  color: #0f6fb0;
  /* color: #558; */
}

#Home a:hover {
  color: #333334;
  background: #e6ecfe;
  text-decoration-color: #257bb5;
  /* color: #a0f; */
}

#Home ::selection { /* WebKit/Blink Browsers */
  background: #fbbc43; 
  /* background: #91d4fd;  */
  /* background: #ff0; */
}
#Home ::-moz-selection { /* WebKit/Blink Browsers */
  background: #fbbc43; 
  /* background: #91d4fd;  */
  /* background: #ff0; */
}

#Home .underline {
  text-decoration: underline;
}

#Home article {
  background: white;
}

#Home ul {
  padding-inline-start: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#Home li {
  list-style: none;
}

#Home li[class^="org-bullet-"] {
  display: flex;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-weight: 500;
  line-height: 1.2em;
}

#Home li.org-bullet-1::before {
  content: '◉ ';
  padding-right: 0.5em;
  margin-top: -0.1em;
}
#Home li.org-bullet-1 {
  font-size: 1.5em;
  font-weight: 600;
  color: #3c3c3c;
  background: #f0f0f0;
  border-top: 1px solid #a7a7a7;
}
#Home li.org-bullet-1 ~ p { margin-left: 1em; }

#Home li.org-bullet-2::before {
  content: '○ ';
  padding-right: 0.5em;
  margin-top: -0.1em;
}
#Home li.org-bullet-2 {
  margin-left: 1em;
  color: #143654;
  background: #e5f4fb;
  border-top: 1px solid #375670;
}
#Home li.org-bullet-2 ~ p { margin-left: 2em; }

#Home li.org-bullet-3::before {
  content: '✸ ';
  margin-top: -0.1em;
  padding-right: 0.5em;
  /* transform: rotate(20deg); */
}
#Home li.org-bullet-3 {
  margin-left: 2em;
  color: #075424;
  background: #efffef;
}
#Home li.org-bullet-3 ~ p { margin-left: 3em; }

#Home .src-block {
  color: #061188;
  background: #fffee1;
  max-width: 600px;
}
#Home .src-block .src-header, .src-footer {
  color: #575556;
  background: #e2e1d6;
}
#Home .src-footer {
  height: 1em;
}

#Home .error {
  color: inherit;
  background: #fec8c9;
  border: 1px solid #fc4b4f;
}

#Home .description {
  background-color: #ffffe1;
  max-width: 600px;
  margin-left: -5px;
  padding: 0.5em;
  /* font-style: italic; */
  /* border: 1px solid rgb(200,200,200); */
}

#Home .home-copyright {
  text-align: right;
  padding-right: 2em;
}

#Home .copyright-symbol {
  font-weight: 500;
}

