/* No italic for Fira Code */

@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code Bold'), local('FiraCode-Bold'), url('../Fonts/FiraCode-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code Medium'), local('FiraCode-Medium'), url('../Fonts/FiraCode-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code Regular'), local('FiraCode-Regular'), url('../Fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code Light'), local('FiraCode-Light'), url('../Fonts/FiraCode-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

#Home {
  font-family: Fira Code, Courier, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

#Home .theme-wrapper {
  max-width: 1000px;
  max-width: 700px;
  padding: 1em;
}

@media all and (min-width: 45rem) {
  #Home .theme-wrapper {
    padding: 3em;
  }
}


#Home p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#Home h1 {
  font-weight: 600;
  font-size: 32pt;
}

#Home h2, #Home h3 {
  padding-top: 20px;
  font-style: italic;
  font-weight: 500;
  font-size: 16pt;
}

#Home h3 {
  font-size: 12pt;
  padding-top: 6pt;
  text-decoration: none;
  font-weight: bold;
}

#Home .underline {
  text-decoration: underline;
}

#Home ul {
  padding-inline-start: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#Home li {
  list-style: none;
}

#Home li[class^="org-bullet-"] {
  display: flex;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-weight: 500;
  line-height: 1.2em;
}

#Home li.org-bullet-1::before {
  content: '◉ ';
  padding-right: 0.5em;
  margin-top: -0.1em;
}
#Home li.org-bullet-1 {
  font-size: 1.5em;
  font-weight: 600;
}
#Home li.org-bullet-1 ~ p { margin-left: 1em; }

#Home li.org-bullet-2::before {
  content: '○ ';
  padding-right: 0.5em;
  margin-top: -0.1em;
}
#Home li.org-bullet-2 {
  margin-left: 1em;
}
#Home li.org-bullet-2 ~ p { margin-left: 2em; }

#Home li.org-bullet-3::before {
  content: '✸ ';
  margin-top: -0.1em;
  padding-right: 0.5em;
  /* transform: rotate(20deg); */
}
#Home li.org-bullet-3 {
  margin-left: 2em;
}
#Home li.org-bullet-3 ~ p { margin-left: 3em; }

#Home .src-block {
  max-width: 600px;
}

#Home .src-footer {
  height: 1em;
}

#Home .description {
  max-width: 600px;
  margin-left: -5px;
  padding: 0.5em;
}

#Home .home-copyright {
  text-align: right;
  padding-right: 2em;
}

#Home .copyright-symbol {
  font-weight: 500;
}


/*** LEUVEN ***/
#Home.leuven {
  background: white;
}

#Home.leuven article {
  background: white;
}

#Home.leuven {
  color: #333;
}

#Home.leuven h1, #Home.leuven h2, #Home.leuven h3 {
  color: #111;
}

#Home.leuven a {
  color: #0f6fb0;
}

#Home.leuven a:hover {
  color: #333334;
  background: #e6ecfe;
  text-decoration-color: #257bb5;
}

#Home.leuven ::selection { /* WebKit/Blink Browsers */
  background: #fbbc43; 
  /* background: #91d4fd;  */
  /* background: #ff0; */
}
#Home.leuven ::-moz-selection { /* WebKit/Blink Browsers */
  background: #fbbc43; 
  /* background: #91d4fd;  */
  /* background: #ff0; */
}

#Home.leuven li.org-bullet-1 {
  color: #3c3c3c;
  background: #f0f0f0;
  border-top: 1px solid #a7a7a7;
}

#Home.leuven li.org-bullet-2 {
  color: #143654;
  background: #e5f4fb;
  border-top: 1px solid #375670;
}

#Home.leuven li.org-bullet-3 {
  color: #075424;
  background: #efffef;
}

#Home.leuven .src-block {
  color: #061188;
  background: #fffee1;
}

#Home.leuven .src-header, .src-footer {
  color: #575556;
  background: #e2e1d6;
}

#Home.leuven .error {
  color: inherit;
  background: #fec8c9;
  border: 1px solid #fc4b4f;
}

#Home.leuven .description {
  background-color: #ffffe1;
}



/*** SPACEMACS ***/
#Home.spacemacs {
  background: #292b2e;
}

#Home.spacemacs article {
  background: #292b2e;
}

#Home.spacemacs {
  color: #e3dedd;
}

#Home.spacemacs h1, #Home.spacemacs h2, #Home.spacemacs h3 {
  /* CORRECT? */
  color: #4f97d7;
}

#Home.spacemacs a {
  color: #2a9dac;
}

#Home.spacemacs a:hover {
  color: #e3dedd;
  background: #444155;
  text-decoration-color: #2a9dac;
}

#Home.spacemacs ::selection {
  background: #86dc2f;
}
#Home.spacemacs ::-moz-selection {
  background: #86dc2f;
}

#Home.spacemacs li.org-bullet-1 {
  color: #4f97d7;
  background: transparent;
  border-top: none;
}

#Home.spacemacs li.org-bullet-2 {
  color: #2d9574;
  background: transparent;
  border-top: none;
}

#Home.spacemacs li.org-bullet-3 {
  color: #bc6ec5;
  background: transparent;
}

#Home.spacemacs .src-block {
  color: #cbc1d5;
  background: #2f2b33;
}

#Home.spacemacs .src-header, .src-footer {
  color: #827590;
  background: #373040;
}

#Home.spacemacs .error {
  color: #cc5279;
  background: transparent;
}

#Home.spacemacs .description {
  color: #cbc1d5;
  background: #2f2b33;
}

